@using Owledge.ViewModels
@model KeuzeViewModel

<div class="col-md-4">
    <h1 class="display-4  mt-3">Opleidingskeuze</h1>
    <form asp-controller="Inschrijving" asp-action="Opleidingskeuze" method="post"><!--Voert de action method OpleodinsKeuze uit met meegestuurde inschrijving-->
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--Keuze van de opleidingen-->
        <div class="form-group">
            <label asp-for="Opleiding" class="control-label display-6 mt-3 mb-2"></label>
            <div class="form-check">
                <input asp-for="Opleiding" type="radio" value="Softwareontwikkeling" class="form-check-input" checked>
                <label class="form-check-label">Softwareontwikkeling</label>
            </div>
            <div class="form-check">
                <input asp-for="Opleiding" type="radio" value="Cybersecurity Specialist" class="form-check-input">
                <label class="form-check-label">Cybersecurity Specialist</label>
            </div>
            <div class="form-check">
                <input asp-for="Opleiding" type="radio" value="Data-analyse en Machine Learning" class="form-check-input">
                <label class="form-check-label">Data-analyse en Machine Learning</label>
            </div>
            <div class="form-check">
                <input asp-for="Opleiding" type="radio" value="Cloud Computing Architectuur" class="form-check-input">
                <label class="form-check-label">Cloud Computing Architectuur</label>
            </div>
            <span asp-validation-for="Opleiding" class="text-danger" />
        </div>
        <!--Optionele keuze mogelijkheden-->
        <h2 class="display-6  mt-3">Optionele keuzevakken</h2>
        <div class="form-check">
            <input asp-for="Bedrijfskunde" type="checkbox" class="form-check-input">
            <label asp-for="Bedrijfskunde" class="form-check-label">
                Inleiding tot bedrijfskunde
            </label>
        </div>
        <div class="form-check">
            <input asp-for="Scrum" type="checkbox" class="form-check-input">
            <label asp-for="Scrum" class="form-check-label">
                Scrum voor beginners
            </label>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Ga verder" class="btn btn-primary" /><!--Voer de volgende pagina persoonsgegevens aan-->
        </div>
    </form>
</div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}