html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logo {
    width: 40px;
    height: 40px;
}

.card-text {
    color: #000!important;
    font-weight: 700!important;
}
.form-group {padding: 3px 0;}